@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Ubuntu:ital,wght@0,700;1,400&display=swap');
/*
  Importção da fonte Open Sans 400 e 700 do Google Fonts e Ubuntu.
  Nesse css foram considerados exemplos de aplicação de estilo global, aplicação pelo id, classes e tags do html
*/

* {
    font-family: 'Lato', sans-serif;
    margin: 0px;
    padding: 0px;
}

p,
a,
h6 {
    margin: 0px;
}

.contato {
    display: flex;
    flex-direction: column;
}

.contato h5 {
    margin: 0px;
    font-size: 20px;
}

.card-container {
    display: flex;
    justify-content: center;
    margin: 100px 0px 100px 0px;
}


.list-card {
    width: 70%;
    display: grid;
    grid-template-columns: repeat(auto-fill, 250px);
    grid-gap: 20px 10px;
    justify-content: space-between;
}


.card {
    background-color: #FFF;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
}

.card h6 {
    font-weight: bold;
}

.card:hover {
    transform: scale(1.01);
}

.card-img-top {
    border-radius: 2px;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 100%;
}

.card-img-top:hover {
    transform: scale(1.01);
}

.footer {
    width: 100%;
    height: 200px;
    color: #FFF;
    text-align: left;
}

.informacoes_faesa {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
}

.informacoes_dev {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 25px 10px 5px 10px;

}

.git_icon {
    display: flex;
    justify-content: center;
    color: #FFF;
    padding-left: 10px;
}